name: fedora:rawhide

concurrency:
  group: {% raw %}${{ github.workflow }}-${{ github.ref }}{% endraw %}
  cancel-in-progress: true

on:
  push:
    branches:
      - "*"
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch: {}

jobs:
  elementary-desktop:
    runs-on: ubuntu-latest
    name: elementary/desktop

    container:
      image: fedora:rawhide
      volumes:
        - /proc:/proc
      options: --privileged

    steps:
      - name: Pull changes ⬇️
        uses: actions/checkout@v3

      - name: Install dependencies ⬇️
        run: |
          dnf install -y git python3

      - name: Build elementary/desktop 🔨
        run: |
          ./builder \
            --distro fedora:rawhide \
            --package elementary/desktop

{% for package in packages %}
  {{ package | replace("/", "-") }}:
    runs-on: ubuntu-latest
    name: {{ package }}

    container:
      image: fedora:rawhide
      volumes:
        - /proc:/proc
      options: --privileged

    steps:
      - name: Pull changes ⬇️
        uses: actions/checkout@v3

      - name: Install dependencies ⬇️
        run: |
          dnf install -y git python3

      - name: Build {{ package }} 🔨
        run: |
          ./builder \
            --distro fedora:rawhide \
            --package {{ package }}
{% endfor -%}
